" vim:syntax=vim

" Avoid NERDTree drawing arrows that results in stupid characters
let g:NERDTreeDirArrows=0

" I like to see many results in CtrlP's match window
let g:ctrlp_max_height = 30

" let CtrlP search for files by unix fins instead of vim's slower method
if ! has("win32") && ! has("win16")
  let g:ctrlp_user_command = 'find %s -type f'
endif
